* {
  margin: 0;
  padding: 0;
  /* background-color: #101723; */
}

.app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #0d0a33;
  font-family: "Crimson Pro", serif;
  font-size: 20px;
  margin-left: 7vw;
  margin-top: 7vh;
}

.app .main {
  width: 50vw;
}

.app .navbar {
  margin-right: 2vw;
}

.app .navbar ul {
  list-style: none;
}

.app .about h1 {
  margin-bottom: 3vh;
  color: #e94949;
}

.app .people ul {
  margin-top: 3vh;
  margin-left: 3vw;
  /* list-style: none; */
}

.app .people ul li {
  margin-bottom: 1vh;
}

.app .bookshelf ul {
  margin-top: 3vh;
  margin-left: 3vw;
  /* list-style: none; */
}

.app .bookshelf ul li {
  margin-bottom: 1vh;
}
