* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  background-color: #1c1c31;
}

.app {
  background-color: #1c1c31;
  color: white;
  display: flex;
}

.app .main-body {
  width: 60vw;
  margin-left: 10vw;
  margin-top: 10vh;
  display: flex;
  margin-right: 0;
}

#github a {
  color: #cf6262;
}

.app .nav-list {
  align-self: flex-end;
  margin-right: 0;
}

.app .nav-list ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.app .nav-list ul a {
  color: #c25c5e;
}
